*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*el 100% de tamaño de fuente indica al usuario configura por omision es de 16px*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.hover:hover {
    transition: all 1s ease;
    transform: scale(1.1);
}

table {
    max-width: 60rem;
    border: 1px solid #838282;
    margin: 10px auto;
    border-collapse:collapse;
    border-radius: 10px;
}

.listas li ul{
    list-style-position: inside;
    line-height: 1.5;
}

caption{
    padding: 0.5rem;
    font-weight: bold;
}

th {
    padding: 15px;
    border: 1px solid #838282;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 15px;
    border: 1px solid #838282;
}
    tr:nth-child(even) td {
    background-color: #373d49;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35 39 47);
    font-size: 100%;
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    color: #f9f9f9;
}

section{
    margin: 30px auto;
}

hr{
    margin: 1rem auto;
    width: 80%;
}

main nav ul{
    justify-content: center;
    margin: 20px auto;
}

.boton-menu a{
    text-decoration: none;
    color:#fff;
    text-align: center;
    padding: 10px 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #6ac3de;
}

nav a:hover{
    background-color: #44576a;
    color: #6ac3de;
    border-radius: 18px;
    border: none;
}

input:focus{
    background-color: rgb(194, 206, 243);
}

aside{
    max-width: 60rem;
    margin: 0 auto;
}

footer{
    display: inline-block;
    padding-bottom: 2rem;
}

.sub-menu ul{
    height: 0px;
    position: absolute;
    list-style-type: none;
    padding-top: 10px;
    overflow: hidden;
    border: none;
    margin-top: 10px;
    background-color: rgba(35, 39, 47, 0.26);
}

.sub-menu li:hover ul{
    height: 175px;
    transition: all 0.5s ease;
    text-align: center;
}

.sub-menu li:hover ul>li{
    margin-bottom: 20px;
}

.listas{
    border: 0.5px solid ;
    text-align: left;
    padding: 4rem;
    max-width: 60rem;
    background-color: #373d49;
    border-radius: 10px;
    margin: 2rem auto;
}

.logo{
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 80px;
    height: 80px;
}

.logo img{
    width: 100%;
    filter: drop-shadow(5px 6px #6ac3de);
}

.logo img:hover{
    transform: scale(0.8);
    transition: all 0.2s ease;
}
