*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

/*el 100% de tamaño de fuente indica al usuario configura por omision es de 16px*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
    position: relative;
}

.header img{
    width: 150px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

table {
    max-width: 60rem;
    border: 1px solid #838282;
    margin: 10px auto;
    border-collapse:collapse;
    border-radius: 10px;
}

.listas li ul{
    list-style-position: inside;
    line-height: 1.5;
}

caption{
    padding: 0.5rem;
    font-weight: bold;
}

thead th{
    text-transform: uppercase;
}

tbody tr:hover td, tbody th:hover, tfoot:hover, thead tr th:hover{
    background-color: #6ac3de;
}

th {
    padding: 15px;
    border: 1px solid #838282;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 15px;
    border: 1px solid #838282;
}
    tr:nth-child(even) td {
    background-color: #373d49;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35 39 47);
    font-size: 100%;
    font-family: system-ui, Segoe UI Symbol;
    text-align: center;
    color: #f9f9f9;
}

section{
    margin: 30px auto;
}

hr{
    margin: 1rem auto;
    width: 80%;
    box-shadow: 0px 0px 10px;
}

main nav ul{
    justify-content: center;
    margin: 20px auto;
}

.boton-menu a{
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #6ac3de;
}

nav a:hover{
    background-color: #44576a;
    color: #6ac3de;
    border-radius: 18px;
}

input:focus{
    background-color: rgb(194, 206, 243);
}

aside{
    max-width: 60rem;
    margin: 0 auto;
}

footer{
    display: inline-block;
    padding-bottom: 2rem;
}

.sub-menu ul{
    max-height: 0px;
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    margin-top: 10px;
    background-color: rgba(35, 39, 47, 0.26);
}

/* .sub-menu li ul{
    
} */

.sub-menu li:hover ul{
    max-height: 175px;
    text-align: center;
    transition: max-height 0.5s ease;
    padding: 15px;
}

.sub-menu li:hover ul>li{
    margin-bottom: 20px;
}

.listas{
    border: 0.5px solid ;
    text-align: left;
    padding: 4rem;
    max-width: 60rem;
    background-color: #373d49;
    border-radius: 10px;
    margin: 2rem auto;
    transition: transform 2s ease;
    box-shadow: 0px 0px 10px;
}

.logo{
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 80px;
    height: 80px;
}

.logo img{
    width: 100%;
    filter: drop-shadow(5px 6px #6ac3de);
}

.logo img:hover{
    transform: scale(0.8);
    transition: all 0.2s ease;
}

.activo a{
    color: #6ac3de;
}

form{
    text-align: center;
}

.separador{
    max-width: 15rem;
    opacity: 40%;
    border: 1px solid #373d49;;
}

fieldset{
    padding: 0px 30px 15px 30px;
    border-radius: 18px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px;
}

.boton{
    background-color: #373d49;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px;
}

.boton:hover{
    background-color: #44576a;
    color: #6ac3de;
}

.boton:active{
    background-color: #38536d;
    color: white;
    outline: 2px solid #38536d;
    outline-offset: 2px;
}

.grid{
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-row: repeat(4, 1fr);
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item7"
    ;
/*     gap: 50px; */
    width: 80%;
    margin: 20px auto;
    border: 1px solid #fff;
    grid-auto-columns: 50%;
}

.item1{
    grid-area: item1;
    align-content: center;
    border: 1px solid #fff;
}

.item2{
    grid-area: item2;
    align-content: center;
    border: 1px solid #fff;
}

.item3{
    grid-area: item3;
    align-content: center;
    border: 1px solid #fff;
}

.item4{
    grid-area: item4;
    align-content: center;
    justify-content: center;
    border: 1px solid #fff;
}

.item5{
    grid-area: item5;
    align-content: center;
    border: 1px solid #fff;
    overflow: auto;
}

.item6{
    grid-area: item6;
    align-content: center;
    border: 1px solid #fff;
    text-align: center;
}

.item7{
    grid-area: item7;
    align-content: center;
    border: 1px solid #fff;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"],input[type="date"]{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-family: inherit;
    transition: all 0.5s ease;
    display: block;
    margin: 5px auto;
}

input:focus{
    width: 90%;
}

input[type="radio"]:focus{
    display: inline-block;
    background-color: #000;
}

textarea{
    width: 100%;
    transition: all 0.5s ease;
}

textarea:focus{
    width: 90%;
    background-color: rgb(194, 206, 243)
}

input:focus:invalid:not(:placeholder-shown){
    background-color: rgba(250, 171, 171, 0.363);
    color: white;
}

input:focus:valid:not(:placeholder-shown){
    background-color: rgb(190, 250, 190);
}

.check{
    display: none;
}
.check-label{
    display: none;
}

/*ESCALA ESCRITORIO*/
@media (width >= 1024px) {
h1 { font-size: 4.8rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.0rem; }
body { 
    font-size: 1.6rem; 
    max-width: 120rem;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.listas{
    max-width: 90rem;
}
}

/*ESCALA TABLETS*/
@media (width <= 1023px ) and (width >= 431px) {
h1 { font-size: 4.0rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 1.9rem; }
body { 
    font-size: 1.6rem; 
    max-width: 75rem;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
}
audio{
    width: 80%;
    height: 20%;
}
.item6{
    padding: 1rem;
}
.item7{
    padding: 1rem;
}
.check{
    display: none;
}
.check-label{
    display: none;
}
}

/*BASE - TELEFONO*/
@media (width <= 430px) {
h1 { font-size: 1.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }
body { font-size: 1.6rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.header{
    flex-direction: column;
    margin-bottom: 3rem;
}
.listas{
    max-width: 90%;
}
/* svg{
    width: 250px;
    height: 200px;
} */
.item7{
    padding: 1rem;
}
.grid{
    width: 100%;
}
.item6 svg{
    width: 100%;
}
.item6 p{
    height: 100px;
    overflow-y: auto;
}

.boton{
    margin-bottom: 2rem;
}
#comparativa-herramientas{
    width: 100%;
    overflow-x: auto;
}
.boton-menu a {
    padding: 0.5rem;
}
audio{
    width: 80%;
    height: 20%;
}
aside p{
    padding: 0 2rem;
}
footer{
    padding: 0 1rem;
}
fieldset{
    width: 100%;
}
.check{
    display: none;
}
.check-label{
    cursor: pointer;
    display: block;
}
.sub-menu{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    height: 0px;
    background-color: rgb(35 39 47);
    width: 100%;
    justify-content: start;
    gap: 2rem;
    overflow: hidden;
    transition: height 0.5s ease, box-shadow 0.5s;
    padding-top: 3rem;
    border-radius: 1rem;
}

nav a{
    font-size: larger;

}
.header{
    position: relative;
    flex-direction: row;
}
.check:checked ~ .sub-menu{

    height: 92rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 100;
}


}


