*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*el 100% de tamaño de fuente indica al usuario configura por omision es de 16px*/

.header {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.hover:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

table {
    width: 50%;
    border: 1px solid #000;
    margin: 0 auto;
}
    th {
    padding: 6px;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
}
    td {
    padding: 6px;
    border: 1px solid #000;
}
    tr:nth-child(even) td {
    background-color: #e7e7e7;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35 39 47);
    font-size: 100%;
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    color: #f9f9f9;
}

section{
    margin: 30px auto;
}

hr{
    margin: 1rem auto;
}

main nav ul{
    justify-content: center;
    margin: 20px auto;
}

.boton-menu a{
    text-decoration: none;
    color:#fff;
    text-align: center;
    padding: 10px 10px;
}

a:hover{
    background-color: #44576a;
    color: #6ac3de;
    border-radius: 18px;
    border: none;
}

input:focus{
    background-color: rgb(194, 206, 243);
}

.sub-menu ul{
    height: 0px;
    position: absolute;
    list-style-type: none;
    padding-top: 10px;
    overflow: hidden;
    border: none;
    margin-top: 10px;
    background-color: rgba(35, 39, 47, 0.26);
}

.sub-menu li:hover ul{
    height: 175px;
    transition: all 0.5s ease;
    text-align: center;
}

.sub-menu li:hover ul>li{
    margin-bottom: 20px;
}

.listas{
    border: 0.5px solid #838282;
    text-align: left;
    padding: 4rem;
    max-width: 60rem;
    background-color: #373d49;
    border-radius: 10px;
    margin: 2rem auto;
}